.profile-page{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    

}
.avatar {
     width: 200px;
     height: 200px;
     border-radius: 50%;
     background-color: pink;
     border: solid 2px palevioletred;
     display: flex;
     justify-content: center;
     align-items: center;
     margin: 1rem auto;
     font-size: 100px;
     font-weight: 600;
     color: rgb(245, 86, 139);
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.username{
    margin: .3rem auto 0;
    font-size: 35px;
    font-weight: 600;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
}
.role{
    margin: .3rem auto 0;
    font-size: 20px;
}